[Desktop Entry]
Version=1.0
Name=LibreOffice
Comment=Launch the LibreOffice suite
Exec=libreoffice %U
Icon=libreoffice
Terminal=false
Type=Application
Categories=Office;