[Desktop Entry]
Version=1.0
Name=Thunderbird
Comment=Read and send email
Exec=thunderbird %u
Icon=thunderbird
Terminal=false
Type=Application
Categories=Network;Email; 